*{
margin: 0%;
padding: 0%;


}
.weather{
  background-color: lightcoral;
  width: 100%;
  height: auto;
  padding: 50px;
  margin-left: 250px;
}
input{
  padding: 10px;
  margin: 20px;

}
.Backgrnd{
background-color: lightblue;
;
width: 400px;
height:auto;
margin-left: 50%;
border-radius: 10px;
}
.Backgrnd>ul>li{
list-style: none;
font-size: 20px;
margin: 10px;
padding: 20px;



}